<!DOCTYPE html>
<html lang="en" ng-app="bugTrackerApp">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<style>
	.closed {
		color : red;
		text-decoration: line-through;
		font-weight: bold;
		font-style: italic;
	}
	.date{
		font-style: italic;
	}
	</style>
	<script src="angular.js"></script>
	<script src="moment.js"></script>
	<script>
	var bugTrackerApp = angular.module("bugTrackerApp", []);

	bugTrackerApp.value("storageOption", "localStorage");

	bugTrackerApp.factory('Bug', function(){
		function Bug(defaults){
			defaults = defaults || {};
			this.id = defaults.id || new Date().valueOf().toString();
			this.title = defaults.title || "";
			this.isClosed = defaults.isClosed || false;
			this.createdAt = defaults.createdAt || new Date();
		}
		Bug.prototype.toggleClose = function(){
			this.isClosed = !this.isClosed;
		}
		return Bug;
	});


	 bugTrackerApp.service('BugStorage', function BugStorage($window, Bug, storageOption){
		var storage = $window[storageOption];
		this.getAll = function loadBugsFromStorage(){
			var result = [];
			for(var i=0; i< storage.length; i++){
				var key = storage.key(i);
				var bugAsString = storage.getItem(key);
				var bug = new Bug($window.JSON.parse(bugAsString));
				result.push(bug);
			}
			return result;
		};
		this.save = function saveBugToStorage(bugTitle){
			var newBug = new Bug({
				title : bugTitle,
			});
			storage.setItem(newBug.id, $window.JSON.stringify(newBug))
			return newBug;
		};

		this.update = function updateBugInStorage(bug){
			storage.setItem(bug.id, $window.JSON.stringify(bug));
		};
		this.remove = function removeBugFromStorage(bug){
			storage.removeItem(bug.id);
		};
	});

	
	bugTrackerApp.controller("bugTrackerCtrl", function($scope, BugStorage){
		//var bugStorage = new BugStorage();

		$scope.bugs = BugStorage.getAll();

		$scope.addNew = function(bugTitle){
			var newBug = BugStorage.save(bugTitle);
			$scope.bugs.push(newBug);
		};
		$scope.toggle = function(bug){
			//bug.isClosed = !bug.isClosed;
			bug.toggleClose();
			BugStorage.update(bug);
		};
		
		$scope.removeClosed = function(){
			for(var i=$scope.bugs.length-1; i>=0; i--){
				var bug = $scope.bugs[i];
				if (bug.isClosed){
					$scope.bugs.splice(i,1);
					BugStorage.remove(bug);
				}
			}
		}
	});
	bugTrackerApp.value("moment", window.moment);

	bugTrackerApp.filter('toMoment', function(moment){
		return function(data){
			data = data || new Date();
			return moment(data).fromNow();
		}
	});
	</script>
</head>
<body>
	<!-- 
	1. Add a new bug
	2. Mark a bug as closed
	3. Reopen a bug that is marked as closed
	4. Remove the bugs that are closed
	5. Search for bugs
	6. Persist the bug info in localStorage
	7. Display stats (# of Closed Bugs / Total # of bugs)
	8. Ver - 2 -> Persist the bugs in the server

	window.localStorage
	=> collection of key/value pairs
	=> both key and value should be "strings"

	=> API
		setItem(k,v)
		getItem(k) -> v
		removeItem(k)
		key(index) -> k
		length
		clear()
	-->
	<h1>Bug Tracker - Ver - 1.0</h1>
	<div data-ng-controller="bugTrackerCtrl">
		<h3>
			<span>{{(bugs | filter:{isClosed : true}).length}}</span> / <span>{{bugs.length}}</span>
		</h3>
		<hr>
		<label for="">Search :</label>
		<input type="text" data-ng-model="searchBug" >
		<br>

		<hr>
		<label for="">Bug :</label>
		<input type="text" data-ng-model="newBug">
		<input type="button" value="Add Bug" data-ng-click="addNew(newBug)">
		<input type="button" value="Remove Completed" data-ng-click="removeClosed()">
		<ol>
			<li data-ng-repeat="bug in bugs | filter:getSearchMatcher() track by bug.id" 
				data-ng-click="toggle(bug)" 
				data-ng-class="{closed : bug.isClosed}">{{bug.title}} - <span class="date">{{bug.createdAt | toMoment}}</span></li>
		</ol>
	</div>
</body>
</html>