<!DOCTYPE html>
<html lang="en" ng-app="bugTrackerApp">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<style>
	.closed {
		color : red;
		text-decoration: line-through;
		font-weight: bold;
		font-style: italic;
	}
	</style>
	<script src="angular.js"></script>
	<script>
	var bugTrackerApp = angular.module("bugTrackerApp", []);
	bugTrackerApp.controller("bugTrackerCtrl", function($scope){
		$scope.bugs = [
			
		];

		$scope.addNew = function(bugTitle){
			$scope.bugs.push({title : bugTitle, isClosed : false});
		};

		$scope.toggle = function(bug){
			bug.isClosed = !bug.isClosed;
		};

		$scope.removeClosed = function(){
			for(var i=$scope.bugs.length-1; i>=0; i--){
				var bug = $scope.bugs[i];
				if (bug.isClosed)
					$scope.bugs.splice(i,1);
			}
		}
	});
	</script>
</head>
<body>
	<!-- 
	1. Add a new bug
	2. Mark a bug as closed
	3. Reopen a bug that is marked as closed
	4. Remove the bugs that are closed
	5. Search for bugs
	6. Persist the bug info in localStorage
	7. Display stats (# of Closed Bugs / Total # of bugs)
	8. Ver - 2 -> Persist the bugs in the server
	-->
	<h1>Bug Tracker - Ver - 1.0</h1>
	<div data-ng-controller="bugTrackerCtrl">
		<label for="">Bug :</label>
		<input type="text" data-ng-model="newBug">
		<input type="button" value="Add Bug" data-ng-click="addNew(newBug)">
		<input type="button" value="Remove Completed" data-ng-click="removeClosed()">
		<ol>
			<li data-ng-repeat="bug in bugs" 
				data-ng-click="toggle(bug)" 
				data-ng-class="{closed : bug.isClosed}">{{bug.title}}</li>
		</ol>
	</div>
</body>
</html>